@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    overflow: hidden;
}
.carousel{
    height: 100vh;
}
.item .img-box{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(100%);
    transition: .4s ease;
    transition-delay: .6s;
    overflow: hidden;
}
.item .img-box::before{
    content: '';
    position: absolute;
    right: 22%;
    width: 500px;
    height: 100%;
    background: rgb(97, 28, 28);
    border-radius: 50%;
    filter: blur(300px);
}
.item.active .img-box,
.item.previously-active .img-box{
    transition-delay: .2s;
}
.item.active .img-box{
    transform: translateY(0);
}
.item.back-active .img-box{
    transition: none;
}
.item:nth-child(1) .img-box{
    background: #c15605;
}
.item:nth-child(2) .img-box{
    background: #795100;
}
.item:nth-child(3) .img-box{
    background: #814949;
}
.item:nth-child(4) .img-box{
    background: #000000;
}
.img-box img{
    position: absolute;
    bottom: 0;
    width: 32%;
    margin-left: 20rem;
    filter: drop-shadow(0 0 10px rgb(0, 0, 0));
    transform: translateX(20%);
}
.item:nth-child(2) .img-box img{
    transform: translateX(22%);
}
.item .info-box{
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 450px;
    height: 280px;
    z-index: 1;
    overflow: hidden;
}
.item.active .info-box{
    z-index: 2;
}
.info-box .info-slider{
    transition: .7s cubic-bezier(0.68, -0.55, 0.1, 1);
}
.info-slider .info-item{
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    transform: translateY(calc(var(--i) * 100%));
}
.info-item h2{
    font-size: 63px;
    line-height:1;
}
.info-item p{
    font-size: 18px;
    margin: 15px 0 20px;
}
.thumb{
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    list-style: none;
    z-index: 100;
}
.thumb li{
    width: 100px;
    height: 100px;
    border-radius: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    margin: 25px 0;
    overflow: hidden;
}
.thumb li.selected{
    border: 3px solid #f88787;
}
.thumb li.disabled{
    pointer-events: none;
}
.thumb li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


